{% extends "base.html" %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
  <h2>Contact Us</h2>
  <p>Our Customer Service Team is available to help with any queries or feedback. Please reach out, and we will respond promptly:</p>

  {% if messages %}
    <div class="alert alert-success">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
