{% extends "base.html" %}
{% load static %}

{% block title %}
TITLEHERE
{% endblock %}

{% block content %}
<p>Oud, or agarwood, is an aromatic resinous wood that comes from the Aquilaria tree.  Native to South East Asia, particularly Cambodia, India, Thailand, and Indonesia, the tree produces a dark, fragrant resin as a natural defence mechanism against mould, resulting in the formation of oud. Considered one of the most highly prized natural materials in the world, oud is often referred to as "liquid gold" due to its rarity and global appeal.</p>
<p>Oud is widely used as a base in high-end perfumes because of its rich, deep and complex aroma that blends warm, woody and slightly sweet notes. It can add depth and sophistication to existing fragrance products.</p>
<p>Burning agarwood at home releases a calming and indulgent fragrance, often used for relaxation, meditation or gatherings. Our agarwood chips can be gently heated on a burner to add a rich, inviting scent to your space.</p>
{% endblock %}