{% extends "base.html" %}

{% block title %}
    Products - OudEssence
{% endblock %}

{% block content %}
    <h2>Our Products</h2>

    <div class="products">
        {% for product in products %}
            <div class="product">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p class="price">£{{ product.price }}</p>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% endif %}
            </div>
        {% empty %}
            <p>We have just sold out! New stock will be added soon.</p>
        {% endfor %}
    </div>
{% endblock %}
